{% extends 'app/base.html' %}

{% block contenido %}
    {% load staticfiles %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'app/img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Nuestro Blog</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="academy-blog-posts">
                        <div class="row">
                        
                            {% if user.is_authenticated %}
                             {% for publicacion in publicacion_list %}
                               
                                     <div class="col-12" >
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Thumb -->
                                  
                                    <!-- Post Title -->
                                    <a  class="post-title">{{ publicacion.titulo }}</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <p>By <a>{{ publicacion.nombre_prof }}</a></p>
                                    </div>
                                    <!-- Post Excerpt -->
                                    <p>{{ publicacion.descripcion }}</p>
                                    <!-- Read More btn -->
                                   
                                </div>
                            </div>
                                {% endfor %}
                            {% else %}
                            <div class="single-blog-post mb-50 wow fadeInUp">
                            <p>Para ver este contenido debe iniciar sesion </p>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    {% if user.is_authenticated and user.is_superuser %}
                    <div class="academy-blog-sidebar">
                        <!-- Blog Post Widget -->
                        <div class="blog-post-categories mb-30">
                            <!--boton insertar publicacion-->
                               <p>Has ingresado como publicador</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                                Insertar publicacion
                                </button>
                    
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle">Publicaciones</h5>
                                                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="{% url 'blogp' %}">
                                                    {% csrf_token %}
                                                    <input type="text" class="form-control" id="titulo" placeholder="titulo" name="titulo">
                                        
                                                    <textarea  class="form-control" id="descripcion" cols="30" rows="10" placeholder="descripcion" name="descripcion"></textarea>
                                                    <input type="submit" class="btn btn-primary" name"Guardar">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- Blog Post Catagories -->
                        <div class="blog-post-categories mb-30">
                            <h5>Estudiantes</h5>
                            <ul>
                                <li>
                                <!-- Button trigger modal -->
                                    <a class="btn btn-primary"  role = "button" href="{% url 'blog_estudiante' %}">
                                    Estudiantes
                                    </a>
                                </li>
                                
                                <li>
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary" href="{% url 'blog_cursocarrera' %}">
                                    Asignación de Carreras
                                    </a>
                                </li>
                                <li>
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary" href="{% url 'blog_cursolibre' %}">
                                    Asignación de Curso Libre
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- Latest Blog Posts Area -->
                        <div class="latest-blog-posts mb-30">
                            <h5>Cuerpo Académico</h5>
                            <!-- Single Latest Blog Post -->
                            <div class="single-latest-blog-post d-flex mb-30">
                                <div class="latest-blog-post-thumb">
                                    <img src="{% static 'app/img/blog-img/lb-1.jpg' %}" alt="">
                                </div>
                                <div class="latest-blog-post-content">
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary"  href="{% url 'blog_ingresarcarrera' %}">
                                        Carrera
                                    </a>
                                </div>
                            </div>
                            <!--Siguiente-->
                            <!-- Single Latest Blog Post -->
                            <div class="single-latest-blog-post d-flex mb-30">
                                <div class="latest-blog-post-thumb">
                                    <img src="{% static 'app/img/blog-img/lb-2.jpg' %}" alt="">
                                </div>
                                <div class="latest-blog-post-content">
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary"  href="{% url 'blog_agregarcatedratico' %}">
                                    Catedrático
                                    </a>
                                </div>
                            </div>
                            <!--Siguiente-->
                            <!-- Single Latest Blog Post -->
                            <div class="single-latest-blog-post d-flex mb-30">
                                <div class="latest-blog-post-thumb">
                                    <img src="{% static 'app/img/blog-img/lb-3.jpg' %}" alt="">
                                </div>
                                <div class="latest-blog-post-content">
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary"  href="{% url 'blog_ingresarcurso' %}">
                                    Curso
                                    </a>
                                </div>
                            </div>

                        <!--Siguiente-->
                            <!-- Single Latest Blog Post -->
                            <div class="single-latest-blog-post d-flex">
                                <div class="latest-blog-post-thumb">
                                    <img src="{% static 'app/img/blog-img/lb-4.jpg' %}" alt="">
                                </div>
                                <div class="latest-blog-post-content">
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary"  href="{% url 'blog_ingresarcursolibre' %}">
                                    Curso Libre
                                    </a>
                                </div>
                            </div>
                                </div>
                            </div>
                            {% else %}
                             <p>Has ingresado como lector</p>  
                            {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock contenido %}