{% extends 'app/base.html' %}

{% block contenido %}
    {% load staticfiles %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'app/img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Nuestro Blog</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="academy-blog-posts">
                        <div class="row">
                        
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">No.</th>
                                        
                                        <th scope="col">Curso</th>
                                        <th scope="col">Estudiante</th>
                                        
                                        </tr>
                                    </thead>
                                {% for AsignacionCursoLibre in asignacioncursolibre_list %}
                                <tbody>
                                        <tr>
                                            <td>{{asignacioncursolibre.id_asignacionlibre}}</td>
                                            
                                            <td>{{asignacioncursolibre.cursolibre_id}}</td>
                                            <td>{{asignacioncursolibre.estudiante_id}}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                    
                                </table>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="academy-blog-sidebar">

                        <!-- Blog Post Catagories -->
                        <div class="blog-post-categories mb-30">
                            <h5>Estudiantes</h5>
                            <ul>
                                <li>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAsignacionCursoLibre">
                                    Asignar Curso Libre
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalAsignacionCursoLibre" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Curso Libre</h5>
                                            <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="{% url 'blog_cl' %}">
                                            {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <label for="id_asignaestudiantelibre">Carnet del Estudiante</label>
                                        <input type="text" class="form-control" id="id_asignaestudiantelibre" name="id_asignaestudiantelibre">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_asignacursolibre">ID del Curso Libre</label>
                                        <input type="text" class="form-control" id="id_asignacursolibre" name="id_asignacursolibre">
                                    </div>
                                        <input type="submit" class="btn btn-primary" name="Guardar">
                                    </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock contenido %}