{% extends 'app/base.html' %}

{% block contenido %}
    {% load staticfiles %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'app/img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Carreras</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                       
                        <h3> Bachilleratos</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Bachillerato en Música</h5>


                            <p>Esta sorprendente carrera te prepara para desenvolverte en el fascinante mundo
                                de la música, como instrumentista, orientador de la música y gestor de proyectos 
                                artísticos, además de prepararte en otras ciencias para que tengas la capacidad
                                de enfrentar los retos laborales que existen en la actualidad.  
                                </p>
                           
                        </div>
                        
                    <div class="popular-course-thumb bg-img" style="background-image: url({% static 'app/img/bg-img/bach_musica.jpg' %});"></div>
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseThree" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Ver más.
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseThree" class="accordion-content collapse">
                            <p>El crédito académico que recibirás es DIPLOMA DE BACHILLER EN CIENCIAS
                                Y LETRAS CON ORIENTACIÓN EN MÚSICA, el cual te permite seguir estudiando
                                en Universidades autorizadas que existen en el país. Además, si deseas una 
                                preparación adicional puedes inscribirte también en nuestra Academia Profesional 
                                de Música y al finalizar recibirás un DIPLOMA de INSTRUMENTISTA PROFESIONAL</p>
                            <h5 align="center">Pensum</h5>
                                    <table class="table">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">4TO BACH</th>
                                            <th scope="col">5TO BACH</th>
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            
                                            <td>Matemática 4</td>
                                            <td>Matemática 5</td>
                                            
                                          </tr>
                                          <tr>
                                           
                                            <td>Lenguaje y Literatura 4</td>
                                            <td>Lenguaje y Literatura 5</td>
                                         
                                          </tr>
                                          <tr>
                                    
                                            <td>CCSS y Form. Ciudadana 4</td>
                                            <td>CCSS y Form. Ciudadana 5</td>
                                           
                                          </tr>
                                          <tr>
                                            <td>Física</td>
                                            <td>Biología</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Educacion Física</td>
                                            <td>Química</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Filosofía</td>
                                            <td>Expresion Artística</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Inglés Técnico 4</td>
                                            <td>Inglés Técnico 5</td>                                          
                                          </tr>
                                          <tr>
                                            <td>TICS 4 (Computación)</td>
                                            <td>TICS 5 (Computación)</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Historia del Arte I</td>
                                            <td>Historia del Arte II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Psicología Industrial</td>
                                            <td>Estadistíca Descriptiva</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Lenguaje Musical I</td>
                                            <td>Lenguaje Musical II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Audioperceptiva</td>
                                            <td>Piano Funcional II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Elab y gest. de proyectos artísticos</td>
                                            <td>Práctica Supervisada</td>                                          
                                          </tr>
                                        </tbody>
                                      </table>
                                
                        </div>
                       
                    </div>
                </div>
                    
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Bachillerato en Teatro y Danza</h5>


                            <p>Si tu pasión es la actuación y el baile esta  fascinante carrera es para tí. Te prepara para desenvolverte como actor, coreógrafo, director de escena y gestor de proyectos artísticos. Además de prepararte en otras ciencias para que tengas la capacidad de enfrentar los retos laborales que existen en la actualidad.     
                                </p>
                           
                        </div>
                        
                    <div class="popular-course-thumb bg-img" style="background-image: url({% static 'app/img/bg-img/bach_danza.jpg' %});"></div>
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseFour" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Ver más.
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseFour" class="accordion-content collapse">
                            <p>
                                El crédito académico que recibirás es DIPLOMA DE BACHILLER EN CIENCIAS Y LETRAS CON ORIENTACIÓN EN ARTES ESCÉNICAS, el cual te permite seguir estudiando en cualquiera de las universidades autorizadas que existen en el país. Además, si también te gusta la música puedes inscribirte en nuestra Academia Profesional de Música y al finalizar recibirás un DIPLOMA de INSTRUMENTISTA PROFESIONAL    
                            </p>
                            <h5 align="center">Pensum</h5>
                                    <table class="table">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">4TO BACH</th>
                                            <th scope="col">5TO BACH</th>
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            
                                            <td>Matemática 4</td>
                                            <td>Matemática 5</td>
                                            
                                          </tr>
                                          <tr>
                                           
                                            <td>Lenguaje y Literatura 4</td>
                                            <td>Lenguaje y Literatura 5</td>
                                         
                                          </tr>
                                          <tr>
                                    
                                            <td>CCSS y Form. Ciudadana 4</td>
                                            <td>CCSS y Form. Ciudadana 5</td>
                                           
                                          </tr>
                                          <tr>
                                            <td>Física</td>
                                            <td>Biología</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Educacion Física</td>
                                            <td>Química</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Filosofía</td>
                                            <td>Expresion Artística</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Inglés Téccnico 4</td>
                                            <td>Inglés Técnico 5</td>                                          
                                          </tr>
                                          <tr>
                                            <td>TICS 4 (Computación)</td>
                                            <td>TICS 5 (Computación)</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Historia del Arte I</td>
                                            <td>Historia del Arte II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Psicología Industrial</td>
                                            <td>Estadistíca Descriptiva</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Teatro</td>
                                            <td>Maquillaje y caracterización</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Análisis del Mov. Laban</td>
                                            <td>Escenografía, luminotecnia y sonido</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Danza</td>
                                            <td>Seminario</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Elab y gest de proyectos artísticos</td>
                                            <td>Práctica Supervisada</td>                                          
                                          </tr>
                                        </tbody>
                                      </table>
                                
                        </div>
                       
                    </div>
                </div>
                    
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Bachillerato en Diseño Gráfico</h5>


                            <p>Esta  fascinante carrera te prepara para desenvolverte como Pintor, Diseñador Gráfico,  y gestor de proyectos artísticos. Además de prepararte en otras ciencias para que tengas la capacidad de enfrentar los retos laborales que existen en la actualidad.    
                                </p>
                           
                        </div>
                        
                    <div class="popular-course-thumb bg-img" style="background-image: url({% static 'app/img/bg-img/bach_diseño.jpg' %});"></div>
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Ver más.
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseTwo" class="accordion-content collapse">
                            <p>
                                El crédito académico que recibirás es DIPLOMA DE BACHILLER EN CIENCIAS Y LETRAS CON ORIENTACIÓN EN ARTES VISUALES, el cual te permite seguir estudiando en cualquiera de las universidades autorizadas que existen en el país. Además, si también te gusta la música puedes inscribirte en nuestra Academia Profesional de Música y al finalizar recibirás un DIPLOMA de INSTRUMENTISTA PROFESIONAL    </p>
                            <h5 align="center">Pensum</h5>
                                    <table class="table">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">4TO BACH</th>
                                            <th scope="col">5TO BACH</th>
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            
                                            <td>Matemática 4</td>
                                            <td>Matemática 5</td>
                                            
                                          </tr>
                                          <tr>
                                           
                                            <td>Lenguaje y Literatura 4</td>
                                            <td>Lenguaje y Literatura 5</td>
                                         
                                          </tr>
                                          <tr>
                                    
                                            <td>CCSS y Form. Ciudadana 4</td>
                                            <td>CCSS y Form. Ciudadana 5</td>
                                           
                                          </tr>
                                          <tr>
                                            <td>Física</td>
                                            <td>Biología</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Educacion Física</td>
                                            <td>Química</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Filosofía</td>
                                            <td>Expresion Artística</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Inglés Téccnico 4</td>
                                            <td>Inglés Técnico 5</td>                                          
                                          </tr>
                                          <tr>
                                            <td>TICS 4 (Computación)</td>
                                            <td>TICS 5 (Computación)</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Historia del Arte I</td>
                                            <td>Historia del Arte II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Psicología Industrial</td>
                                            <td>Estadistíca Descriptiva</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Geometría</td>
                                            <td>Aplicación del color y la forma</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Técnica de los Materiales</td>
                                            <td>Expresión Gráfica II</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Expresión Gráfica I</td>
                                            <td>Seminario</td>                                          
                                          </tr>
                                          <tr>
                                            <td>Elab y gest de proyectos artísticos</td>
                                            <td>Práctica Supervisada</td>                                          
                                          </tr>
                                        </tbody>
                                      </table>
                                
                        </div>
                       
                    </div>
                </div>
                    
                </div>
                <!-- Single Top Popular Course -->
               
            </div>
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

    <!-- ##### Top Popular Courses Details Area Start ##### -->
    
    <!-- ##### Top Popular Courses Details Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="course-content">
                            <h4>Duracion de la carrera</h4>
                            <p>2 años. 4to y 5to Bachillerato</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="course-content">
                            <h4>Costos</h4>
                            <p>Inscripción: Q250</p>
                            <p>Colegiatura: Q250 (10 colegiaturas)</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                            <i class="fa fa-sun-o"></i>
                        </div>
                        <div class="course-content">
                            <h4>Jornada</h4>
                            <p>Doble de Lunes a Viernes.</p>
                            <p>Modalidad: Presencial</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    
{% endblock contenido %}